[phases.setup]
nixPkgs = ["nodejs_22"]

[phases.install]
cmds = ["npm ci"]

[phases.build]
cmds = ["npm install && cd frontend && npm ci --prefer-offline --no-audit && npm run build"]

[start]
cmd = "npm start"
